@use "./Vars" as *;

.ourchurch {
  .chuOthersSection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;

    .detialsChild {
      border: 3px solid $aquamarineDark;
      border-radius: 15px;
      padding: 10px 0px;
      margin-top: 4px;
      margin-bottom: 4px;
      background-color: $aquamarine;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    }

    .fathersFlex {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .faCon {
      border: 2px solid $aquamarine;
      border-radius: 20px;
      padding: 5px;
      margin-top: 10px;
      min-height: 400px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);

      .fathersCon {
        width: 100%;
        padding: 20px 0;
        img {
          max-width: 90%;
          max-height: 400px;
          border-radius: 20px;
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
        }
        // .fathertext
      }
    }
    .leftBodies {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // border: 1px solid red;
      img {
        max-width: 100%;
        border-radius: 20px;
      }
    }

    .rightBodies {
      .rightBodiesChild {
        border: 2px solid $aquamarine;
        margin: 2px 0px;
        border-radius: 15px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        .bodiesSmallPic {
          width: 60px;
          img {
            max-width: 100%;
            border-radius: 50%;
            padding: 5px;
          }
        }
        h5 {
          margin-right: 15px;
        }
      }
    }
    .marmarcoFather {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .marmarPic {
        // width: 100%;
        img {
          max-width: 100%;
        }
      }
      .marmarText {
        text-align: end;
      }
    }
  }
}
