// Global vars
$aquamarine: #82c419;
$aquamarineLight: rgb(203, 243, 189);
$aquamarineDark: #3c5c08;

$Pink: #dd3170;
$blue: #393a59;
$Babyblue: rgb(198, 223, 223);

$main-color: #09aff4;
$main-color-back: #060922;
$main-color-font: white;
$test: 1px solid $main-color;
